<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promptbattle</title>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen min-h-screen dark:text-white dark:bg-slate-800">
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('state', {
                phase: "",
                players: {},
                challenge: {},

                updateState(event) {
                    this.phase = event.phase
                    this.players = event.players
                    this.challenge = event.challenge
                },

                updatePrompt(event) {
                    this.players[event.player].prompt = event.prompt
                }
            })
            webSocket = new WebSocket('ws://localhost:3000/beamer/ws');
            webSocket.onopen = (event) => {
                webSocket.send(JSON.stringify({ type: "ready" }));
                console.log('Connected to server');
            };
            webSocket.onmessage = (event) => {
                const msg = JSON.parse(event.data);
                if (!msg.hasOwnProperty('type')) {
                    console.error('Message has no type', msg);
                    return
                }

                if (msg.type === "state") {
                    Alpine.store('state').updateState(msg)
                } else if (msg.type === "prompt") {
                    Alpine.store('state').updatePrompt(msg)
                }
            };
        })
    </script>
    <div x-data>
        <div class="grid grid-cols-2 h-screen items-center justify-items-center" style="grid-template-rows: 1fr 1.8fr;">
            <div class="col-span-2">
                <template x-if="$store.state.phase === 'opening'">
                    <h1 class="mt-8 text-white text-4xl text-center">Promptbattle</h1>
                </template>
                <template x-if="$store.state.phase !== 'opening' && $store.state.hasOwnProperty('challenge') && $store.state.challenge.type === 'text'">
                    <h1 class="mt-2 text-4xl text-center" x-text="$store.state.challenge.challenge"></h1>
                </template>
                <template x-if="$store.state.phase !== 'opening' && $store.state.hasOwnProperty('challenge') && $store.state.challenge.type === 'image'">
                    <img class="mx-auto max-h-80" :src="$store.state.challenge.challenge" alt="">
                </template>
                <template x-if="$store.state.phase === 'prompting'">
                    <h2 class="text-2xl text-center mt-8">Prompting!</h2>
                </template>
                <template x-if="$store.state.phase === 'generate'">
                    <h2 class="text-2xl text-center mt-8">Generator work...</h2>
                </template>
                <template x-if="$store.state.phase === 'final'">
                    <h2 class="mt-8 text-white text-4xl text-center">Finale!</h2>
                </template>
                <template x-if="$store.state.phase === 'picking'">
                    <h2 class="text-4xl text-center">Select your fav!</h2>
                </template>
            </div>
            <template x-if="$store.state.phase === 'prompting'">
                <template x-for="(player, index) in $store.state.players">
                    <div :style="{background: player.color}" class="p-10 h-full w-full overflow-hidden relative">
                        <div x-text="player.prompt" class="absolute bottom-10 hyphens-auto text-black text-4xl"></div>
                    </div>
                </template>
            </template>
            <template x-if="$store.state.phase === 'picking'">
                <template x-for="(player, index) in $store.state.players">
                    <div :style="{background: player.color}" class="grid grid-cols-2 grid-rows-2">
                        <template x-for="(image, index) in player.generatedImages">
                            <figure class="m-5">
                                <img :src="image" alt="Placeholder">
                            </figure>
                        </template>
                    </div>
                </template>
            </template>
            <template x-if="$store.state.phase === 'final'">
                <template x-for="(player, index) in $store.state.players">
                    <div :style="{background: player.color}" class="p-10">
                        <img :src="player.generatedImages[player.favoriteImage]">
                    </div>
                </template>
            </template>
        </div>
    </div>
</body>

</html>
